footer{
  position:absolute;
  bottom: 0;
  left: 0;
}
.social-links img{
  border-radius: 50%;
  width: 125px;
  height:auto;
  float: none;

}
body{
background: url(../Images/fresh_snow.png);
margin: 0 auto;
}
img{
  height:450px;
  width: 450px;
  border-radius: 50%;
  shape-outside: circle(50%);
  float: left;
}

li{
  display:inline-block;
}
.copyright{
  display:inline-block;

}
.social-links{
  display: inline-block;

}
@media screen and (max-width: 760px) {
  img{
    display: block;
}
  p {
      text-align: center;
      color: blue;
  }
}
h1{
  text-align: center;
}
