body{
  background: url(../Images/weather.png);
}
.motivationalquote{
  display: inline-block;
  width: 50%;
}
.poem{
  display: inline-block;
  float: right;
  width: 45%;

}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
}

.copyright{
  display: inline-block;
}
.social-links{
  display: inline-block;
}
li{
  display: inline-block;
}
