body{
  background: url(../Images/weather.png);
}
.motivationalquote{
  display: inline-block;
  text-align: center;
  border:dashed;
}
.poem{
display: inline-block;
border:solid;
}
.half{
  width:50%;
  float: left;
  text-align: center;
}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
}

.copyright{
  display: inline-block;
}
.social-links{
  display: inline-block;
}
footer a img{
  border-radius: 50%;
  width: 125px;
}
li{
  display: inline-block;
}
h1{
  text-align: center
}
