body{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/3/37/SanJoseSharksLogo.svg/1258px-SanJoseSharksLogo.svg.png");
  text-color: Teal;
}
P{
  Color: Teal;
}
 Experience{
   background-image: white;
 }
